{% extends 'base.html' %}
{% block title %}Edit Student Details{% endblock title %}
{% block body_id %}edit_student{% endblock %}

{% block controller %}
	ng-controller="EditStudentController" ng-init="init('{{csrf_token}}', '{{student_id}}')"
{% endblock controller %}

{% block content %}


<div id="main-title">
	<div class="alert alert-info" align="Center"><h4>Edit Student Details </h4></div>
</div>

<div class="sign_box">
    <div class="row-fluid">
        <div class="span12 sign_mid">
			<div class="section_1">
				<div class="formtext">
					<label> Registration No</label>  
				</div>
				<div class="forminput">
					<input type="text" name="registration_no" value="" ng-model="registration_no">
				</div>
				<div class="formtext">
					<label> Hall Ticket Number</label>  
				</div>
				<div class="forminput">
					<input type="text" name="hall_ticket_no" value="" ng-model="hall_ticket_no">
				</div>
				<div class="formtext">
					<label> Name</label>  
				</div>
				<div class="forminput">
					<input type="text" name="student_name" value="" ng-model="student_name">
				</div>
				<div class="formtext">
					<label > Age </label>  
				</div>
				<div class="forminput">
					<input type="text" name="age" value="" ng-model="age">
				</div>
				<div class="formtext">
					<label> DOB</label>  
				</div>
				<div class="forminput">							
					<input type="text"name="dob" value="" ng-model="dob" id="dob"></text>
				</div>
				<div class="formtext">
					<label>Address</label> 
				</div>
				<div class="forminput">							
					<textarea name="address" value="" ng-model="address"></textarea>
				</div>
				<div class="formtext">
					<label>Permanent Address</label>				
				</div>
				<div class="forminput">
					<textarea name="permanent_address" value="" ng-model="permanent_address"> </textarea>
				</div>
				<div class="formtext">
					<label> Course</label>  
				</div>
				<div class="forminput">
					<select name="course" ng-model="course" ng-change="get_semester() ">
						<option value="">Select</option>
						<option ng-repeat="course in courses" value="[[course.id]]" ng-selected="course.id == course_id" >[[course.course]]
						</option>
					</select>
				</div>
				<div>
				<label> Semester</label>  
				</div>
				<div>
					<select name="semester" ng-model="semester" ng-options="semester.id as semester.semester for semester in semesters" ng-selected="semester.id == semester">
						<option value="">Select</option>
					</select>
				</div>
				<div class="formtext">
					<label > Mobile </label>			
				</div>
				<div class="forminput">							
					<input type="text"  name="mobile_number" value=""  ng-model="mobile_number">
				</div>
				<div class="formtext">
					<label >Parent Mobile Number</label> 
				</div>
				<div class="forminput">
					<input type="text"  name="guardian_mobile_number" value=""  ng-model="guardian_mobile_number">
				</div>
				
				<div class="formtext">
					<label> Email</label>		
				</div>
				<div class="forminput">							
					<input type="text"name="email" value="" ng-model="email"></textarea>						
				</div>
				
				<div class="formtext">
					<label>Photo</label>
				</div>
				<div class="forminput">
					<input type="file" fileread="photo_img.src"/>
					<input type="hidden" ng-model="photo_img.src">
				</div>
			</div>
			<div  align="Center">		
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="submit" value="Save and Continue" ng-click="save_new_student()" class="btn btn-info">				
				</div>
			</div>
		</div>
	</div>
</div>
	


{% endblock content %}
